/* common */
* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif !important;
  min-height: 100vh;
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
}

/* home page */

footer {
  position: relative;
  width: 100%;
  background: white;
}

footer .f-top {
  width: 100%;
  background: #0000001a;
  border-top: 1px solid rgba(0, 0, 0, 0.473);
  padding: 1.5em 0.5em;
  font-size: x-small;
}

footer .f-bottom {
  background: #0000004a;
  width: 100%;
  height: 1.5em;
}

/* pop up */
